body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.form-signins {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 25%;
  border-radius: 25px;
  border: 2px solid #DDDDDE;
}
.form-signins .form-signin-heading,
.form-signins .checkbox {
  margin-bottom: 10px;
}
.form-signins .checkbox {
  font-weight: normal;
}

.error{
	display:none;
	text-align: center;
	border: medium none;
	color: red;
}


.form-signins .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signins .form-control:focus {
  z-index: 2;
}
.form-signins input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signins input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}