/*   .ol-zoom { */
/*      bottom: 8px; */
/*   } */
/* .tabcontent */
/* { */
/* 	background: #777777 !important; */
/* } */
.getinf
{
	position: relative;
    width: auto;
    height:auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #636d72;
	font-size: 9px;	
	    font-weight: 400;
	    padding:59;
/* 	    text-transform: uppercase; */

}
.getinfs
{
	position: relative;
    width: auto;
    height:auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #636d72;
	font-size: 9px;	
	    font-weight: 400;
	    padding:59;
/* 	    text-transform: uppercase; */

}

.getinficon
{
	position: absolute;
    width: 25px !important;
    height:41px !important;
    box-sizing: border-box;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #636d72;
	font-size: 9px;	
	margin-top:6px; 
	margin-left:-5px;
	    font-weight: 400;
	    padding:59;
/* 	    text-transform: uppercase; */

}

.getprecio
{
	color: #2e3c43;
/* 	white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 26px;
    font-weight: 400;
/*     margin-top:-20; */
}

#th4
{
	margin-top:-3px;
	position: relative;
    width: 100%;
    height:auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff !important;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #2e3c43;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
	
}
#scroll
{
	max-height:60vh;
	min-height:2px
	width:auto;
	overflow-y: hidden;
	padding-right: 10px;
	margin-top: -12px;
}
#scroll:hover
{
	overflow-y:scroll
}



.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.formright{
    padding-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
}


.rangeslider,
input[type='range'] {
  max-width: 200%;
}

.rangeslider__handle {
  border-radius: 12px;
  min-width: 62px;
  line-height: 42px;
  text-align: center;
  
  &:after {
    background: 0;
  }
}

.inmueble{
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: #FBFBFB;
    width: 96%;
    padding: 0;
    margin-top: 10px;

    }
.contiene
{
	widght:90px;
	height:100%;	
}
#map
{
	width:100vw; 
	height:90vh;
	
}

.contenedor {
/*     position:fixed;  */
    width:100%; 
    height:100%;
    background-color:#e3e3e3 
}
.gridc{
    position:fixed;
	left:40px;
	max-height:80vh;
/* 	heigth:auto; */
/*     background-color: #f2f6f9; */
    width:auto;
/*     height: auto; */
/*     margin-top:-5px; */

/*     position: relative; */
/*     padding: 35px; */
/*     margin-top: 20px; */
    display:none;
}

.inmueble hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border-color: #ccc;
}

.navBarlogo {
    left: 70px;
    position: fixed;
}

.inmueble div {
    padding:0;
    text-align: center;
}

.formLeft {
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    border-color: #D3D3D3;
}

.range-oeste{
	display: flex;
}

.range-oeste label{
	
}

.continmuble{
    height: 96%;
 overflow: scroll;
}

.paginador {
    bottom: 0;
    position: fixed;
    right: 2px;
    margin-right: auto;
    margin-left: auto;
    width: 270px;
    margin-top: 0;
    margin-bottom: 5px;
}

.mllogo{
    height: 30px;
}

.tooloeste button:hover {
	background-color: #ff8200;
    color: white;
}

.tooloeste button .active {
	background-color: #ff8200;
    color: white;
}


.botonesoeste li:hover {
	background-color: #EAECEC;
}


.tooloeste li .active {
	background-color: #EAECEC;
}

.tooloeste li .active a {
	background-color: #EAECEC;
}

.botonesoeste li:hover .dropdown-oeste{
	color: #000 !important;
}

.caper {
    display: none;  
    background-color: rgb(255, 255, 255);
    width: 345px;
    height: 100%;
    position: fixed;
    border-right: solid 10px rgba(185, 184, 184, 0.3);
    z-index: 100;
}

.powered {
    z-index: 100;
    height: 40px;
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.spantop{
    padding-top: 110px;
}

.spantop2{
    padding-top: 40px;
}

.leftColumn{
    padding-left: 20px;
    padding-right: 20px; 
}

.rightColumn{
    padding-left: 20px;
    padding-right: 20px; 
}


.tooloeste {
    position: relative;
    /*right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 34px;*/
    right: -30%;
    top: 60px;
    z-index: 100;
    width: 80vh;
    height: 52px;
    border-radius: 5px;
    border-bottom-color: #716e6c !important;
    background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(202, 202, 202);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgb(121, 121, 121);
    padding: 10px;
}

.navbar-oeste {

    border-bottom-color: #ff8200 !important;
    border-width: 10px;
    border-bottom: 4px solid;
    border-top-width: 0px;
    min-height: 52px !important;
    border-left-width: 0px;
    border-right-width: 0px;
    -webkit-box-shadow: 10px 10px 5px 0px rgb(202, 202, 202);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgb(255, 130, 0);
    background-color: #fff;
}



.caper2 {
	background-color: rgb(255, 255, 255);
    display: none;
    width: 300px;
    height: 100%;
    right: 0;
    position: fixed;
    border-left: solid 10px rgba(185, 184, 184, 0.3);
    z-index: 101;
}





.searchbox {
    z-index: 100;
    top: 72px;
    left:5px;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    width: 310px;
    height: 35px;
    border-bottom: 1px solid transparent;
        padding-top: 1px;
    transition-property: background, box-shadow;
    transition-duration: 0.3s;
    display: flex;
}

.searchbox-shadow {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -1px 0px rgba(0, 0, 0, 0.02)
}

.searchbox input {
    height: 100%;
    width: 240px;
    display: block;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}

.searchbox button {
    border: none;
    background: none;
    height: 100%;
    width: 35px;
}
.searchbox button:hover{
    background-color: #ff8200;
    color: white;
}

section.range-slider {
    overflow: hidden;
    position: relative;
    height: 10px;
}

.rvalor{
	position: fixed;
    left: 280px;
    margin-top: -10px;
}

.lvalor{
	position: fixed;
    margin-top: -10px;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    height: 70px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    width: 11px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, .15);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}
.btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}
.icon-btn {
        padding: 15px 15px 15px 100px;
    border-radius:50px;
        font-size: x-large;
}
/* ESTILO A SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffa366;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #272727;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #676767;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*Menu inf*/
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
/*     background-color: #f1f1f1; */
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 2px 2px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ff8200;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 4px 2px;
    border: 1px solid #ccc;
    border-top: none;
}